::-webkit-scrollbar {
    background-color: var(--cl-w);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

::-webkit-scrollbar-button {
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cl-i);
    border-radius: 20px;
    border: 3px solid var(--cl-w);
}

img {
    color: var(--cl-p);
    text-align: center;
    font-size: 1.2em;
}

* {
    transition: 
        all 1s,
        background-color 0.2s,
        color 0.2s;
}

body {
    margin: 0%;
    padding: 0%;
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    background-color: var(--cl-q);
    color: var(--cl-p);
}

a {
    color: var(--cl-i);
    transition: 500ms;
    text-decoration: none;
}

a:hover {
    color: var(--cl-p);
}

input, textarea, select {
    outline: 0px;
    color: var(--cl-p);
}

hr {
    width: 50%;
    border: 1px solid var(--cl-p);
    height: 0px;
}


#menu {
    width: 100%;    
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cl-w);
}

#menu-logo {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-logo img {
    height: 13vh;
}

#menu-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 80%;
}

.menu-item {
    margin-right: 2%;
    font-size: 1.25em;
    color: var(--cl-y);
}

.menu-item:hover {
    color: var(--cl-i);
}

.menu-item#last {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
}

.menu-item#last img {
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    margin-right: 10px;
}

.menu-item#last span {
    width: 0vh;
    transition: 1s width;
    overflow: hidden;
    color: var(--cl-y);
    white-space: nowrap;    
}

.menu-item#last:hover span {
    width: 15vh;
    color: var(--cl-i);
}

@keyframes error {
    0% {
        color: var(--cl-error);
    }
    70% {
        color: var(--cl-error);
    }
    80% {
        color: var(--cl-error-hv);
    }
    100% {
        color: var(--cl-error);
    }
}

#error {
    width: 100%;
    height: 87vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#error-code {  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: var(--cl-error);
    cursor: default;
    transition: height 1s, font-size 1s;
}

.error-code-element {
    font-size: 11em;
}

.error-code-element:nth-child(1) {
    animation: error 5s 0s infinite ease-in-out;
}

.error-code-element:nth-child(2) {
    animation: error 5s 1s infinite ease-in-out;
}

.error-code-element:nth-child(3) {
    animation: error 5s 2s infinite ease-in-out;
}

#error-code:hover .error-code-element {
    animation: none;
}

.error-code-element:hover {
    color: var(--cl-error-hv);
}

#error-under {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.error-message {
    font-size: 6em;
    color: var(--cl-error);
    margin: 15vh 0vw;
}

.error-message:hover {
    color: var(--cl-error-hv);
}

#error-return {
    background-color: var(--cl-error-return);
    padding: 20px;
    margin-top: 15vh;
    border-radius: 10px;
    transition: 500ms;
    color: var(--cl-u);
}

#error-return:hover {
    color: var(--cl-y);
}

#error-return:hover {
    border-radius: 20px;
}

#error-description {
    color: var(--cl-error);
}

#to_pre {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 3vh;
    border-radius: 20px;
    background-color: var(--cl-error);
    padding: 1vh 2vw;
}

#current {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 3vh;
    margin-right: 53vh;
    border: 1px solid black;
    border-radius: 20px;
    background-color: var(--cl-error);
    padding: 1vh 2vw;
    color: black;
    background-color: white;
}